body {
  padding-top: 50px;
}

.element {
    display: inline-block;
}

.large-icon {
  padding: 5px 30px;
}

.main-image-container {
  max-width: 600px;
  margin:0 auto; /* center it */
}

.savedit-site {
  padding: 40px 15px;
  text-align: center;
}

.savedit-content-row {
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.savedit-typed-row {
  height: 70px;
  text-align: center;
}

.savedit-quote-row {
  padding: 30px 5px 10px 5px;
  text-align: center;
}

.savedit-footer {
  font-size: 10px;
}

@include media-breakpoint-up(sm) {
  savedit-footer {
    font-size: 6px;
  }
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.bubble
{
position: relative;
width: 90%;
height: 100%;
padding: 2px;
background: #5CB85C;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
border: #5CB85C solid 6px;
}

.bubble:after
{
content: '';
position: absolute;
border-style: solid;
border-width: 20px 8px 0;
border-color: #5CB85C transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -8px;
bottom: -20px;
left: 50%;
}

.bubble:before
{
content: '';
position: absolute;
border-style: solid;
border-width: 25px 13px 0;
border-color: #5CB85C transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -13px;
bottom: -31px;
left: 50%;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
